# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_data = pd.read_csv("Data_CSV/city_weather_data.csv", encoding="ISO-8859-1")
city_weather_data.head()

,Unnamed: 0,City,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Vaini,78.80,94,75,14.97,-21.2000,-175.2000
1,1,Khatanga,-29.72,79,0,10.65,71.9667,102.5000
2,2,Talcahuano,62.60,82,75,6.91,-36.7167,-73.1167
3,3,Tasiilaq,26.60,46,0,18.41,65.6145,-37.6368
4,4,SÄmbhar,53.60,62,0,3.20,26.9167,75.2000

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = city_weather_data[['Latitude', 'Longitude']]
weight = city_weather_data['Humidity']

In [4]:
layout = {'width': '900px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

figure = gmaps.figure(layout = layout)

figure = gmaps.figure(center=(40.0, -5.0), zoom_level=2) 
max_intensity = np.max(weight)

heat_layer = gmaps.heatmap_layer(locations, weights = weight, dissipating=False, max_intensity=100, point_radius=3)

figure.add_layer(heat_layer)

figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
my_vacation_cities = city_weather_data[(city_weather_data['Max Temperature']>60)&(city_weather_data['Max Temperature']<90)
                                       &(city_weather_data['Cloudiness']<30)&(city_weather_data['Humidity']<70)]
my_vacation_cities.head(20)

,Unnamed: 0,City,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
6,6,Rafaela,89.01,27,0,1.01,-31.2503,-61.4867
11,11,Punta Arenas,71.60,24,0,13.80,-53.1500,-70.9167
20,20,Aden,75.42,67,0,5.44,12.7794,45.0367
38,38,Palauig,77.09,69,13,4.50,15.4350,119.9045
45,45,Gwadar,65.43,56,0,6.64,25.1216,62.3254
47,47,Marzuq,60.55,59,0,4.09,14.4000,46.4667
48,48,Cidreira,72.41,69,0,8.93,-30.1811,-50.2056
52,52,Kapaa,75.99,56,1,5.75,22.0752,-159.3190
70,70,Cabo San Lucas,75.00,53,20,11.50,22.8909,-109.9124
74,74,Nava,77.00,44,1,16.11,28.4167,-100.7667
77,77,Cartagena del ChairÃ¡,89.26,59,10,2.04,1.3349,-74.8429
82,82,Cape Town,66.99,68,0,18.41,-33.9258,18.4232
100,100,Mayor Pablo Lagerenza,89.98,24,18,6.02,-19.9309,-60.7718
104,104,ValparaÃ­so,66.20,63,0,6.91,-33.0393,-71.6273
120,120,Guerrero Negro,76.42,20,0,10.76,27.9769,-114.0611
133,133,Pecos,77.00,7,1,17.27,31.4229,-103.4932
135,135,Ancud,75.00,43,0,5.01,-41.8697,-73.8203
147,147,Port Antonio,84.99,65,20,25.32,18.1800,-76.4612
159,159,Hilo,82.40,42,1,4.61,19.7297,-155.0900
164,164,Bubaque,77.61,67,14,12.73,11.2833,-15.8333

In [6]:
my_vacation_cities.reset_index(drop=True, inplace=True)
my_vacation_cities

,Unnamed: 0,City,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,6,Rafaela,89.01,27,0,1.01,-31.2503,-61.4867
1,11,Punta Arenas,71.60,24,0,13.80,-53.1500,-70.9167
2,20,Aden,75.42,67,0,5.44,12.7794,45.0367
3,38,Palauig,77.09,69,13,4.50,15.4350,119.9045
4,45,Gwadar,65.43,56,0,6.64,25.1216,62.3254
...,...,...,...,...,...,...,...,...
71,569,El Alto,76.57,69,8,15.75,-4.2714,-81.2147
72,571,Laguna,66.00,42,1,4.36,38.4210,-121.4238
73,573,Ixtapa,75.20,69,1,13.80,20.7000,-105.2000
74,574,San Vicente,74.95,49,0,4.99,-26.6167,-54.1333
75,577,Wad RÄwah,67.68,28,0,13.73,15.1603,33.1397

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame(my_vacation_cities)
hotel_df["Hotel Name"] = ""
hotel_df.head()

,Unnamed: 0,City,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude,Hotel Name
0,6,Rafaela,89.01,27,0,1.01,-31.2503,-61.4867,
1,11,Punta Arenas,71.60,24,0,13.80,-53.1500,-70.9167,
2,20,Aden,75.42,67,0,5.44,12.7794,45.0367,
3,38,Palauig,77.09,69,13,4.50,15.4350,119.9045,
4,45,Gwadar,65.43,56,0,6.64,25.1216,62.3254,

In [13]:
#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {"radius": 5000,
                  "types": "lodging",
                   "keyword": "Hotel",
                   "key": g_key}

        lat = row['Latitude']
        long = row['Longitude']
        city = row['City']
        params['location'] = f"{lat}, {long}"

        hotel_name = requests.get(base_url, params=params).json()
        results = hotel_name['results']
        
        print(f"First hotel in {city} is {results[0]['name']}.") 
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
        
    except IndexError:
        print("No hotel found.")

First hotel in Rafaela is Amérian Rafaela Hotel.
First hotel in Punta Arenas is Hotel Dreams Del Estrecho.
First hotel in Aden is Sheraton Gold Mohur Hotel.
First hotel in Palauig is Blue Spruce Beach Resort.
First hotel in Gwadar is Zaver Pearl Continental Hotel.
No hotel found.
First hotel in Cidreira is Hotel Castelo.
First hotel in Kapaa is The ISO.
First hotel in Cabo San Lucas is Waldorf Astoria Los Cabos Pedregal.
First hotel in Nava is Hotel Villaloreto.
First hotel in Cartagena del ChairÃ¡ is Hotel Los Corceles.
First hotel in Cape Town is Atlanticview Cape Town Boutique Hotel.
No hotel found.
First hotel in ValparaÃ­so is Hotel Boutique 17.
First hotel in Guerrero Negro is Malarrimo Hotel and Restaurant.
First hotel in Pecos is Best Western Plus Swiss Chalet Hotel & Suites.
First hotel in Ancud is Panamericana Hotel Ancud.
First hotel in Port Antonio is Trident Hotel.
First hotel in Hilo is Hilo Hawaiian Hotel.
First hotel in Bubaque is Le Mango Lodge.
First hotel in El Chimbo is Eco Hotel Shangri-La.
First hotel in San QuintÃ­n is Old Mill Hotel.
First hotel in Puerto Madero is Mision Surf Mexico.
No hotel found.
First hotel in CananÃ©ia is Hotel Marazul.
First hotel in OdiennÃ© is HÔTEL SARAH.
First hotel in Calama is ibis budget Calama.
First hotel in Mercedes is Gran Hotel Mercedes.
First hotel in Cockburn Town is Osprey Beach Hotel.
First hotel in Brenham is Holiday Inn Express & Suites Brenham South.
First hotel in VerÄval is Sarovar Portico Somnath.
First hotel in Saint George is Inn on The Cliff St. George.
First hotel in Natitingou is Hotel Totora.
First hotel in Coyhaique is Patagonia House.
First hotel in Tolaga Bay is Tolaga Bay Holiday Park.
First hotel in Yulara is Sails in the Desert.
No hotel found.
First hotel in Sittwe is Hotel Memory.
First hotel in Ahipara is The Huts.
First hotel in Hatillo is Hotel Parador El Buen Cafe.
First hotel in SÃ£o SimÃ£o is The Hotel São Simão.
First hotel in Chapada dos GuimarÃ£es is Hotel Turismo.
No hotel found.
First hotel in Presidencia Roque SÃ¡enz PeÃ±a is Hotel Gualok.
First hotel in Kavaratti is yaad Hotal.
First hotel in Choix is Huites Hotel.
First hotel in San Pedro de MacorÃ­s is Apartahotel Guaraguao.
First hotel in LÃ¡zaro CÃ¡rdenas is City Express Lázaro Cárdenas.
First hotel in OrÃ¡n is Hotel Iruya.
First hotel in AbÅ« Zabad is حامد محمد نور.
First hotel in La Palma is Courtyard by Marriott Anaheim Buena Park.
First hotel in LÃ¼deritz is LÜDERITZ NEST HOTEL.
First hotel in Santa Maria is Itaimbé Palace Hotel.
First hotel in Big Spring is Hotel Settles.
First hotel in Coquimbo is Enjoy Coquimbo Hotel de la Bahía.
First hotel in San Patricio is Americas Best Value Inn Sinton.
First hotel in PocrÃ­ is Hotel Plaza El Carmen.
No hotel found.
First hotel in Fremont is Staybridge Suites Newark - Fremont.
First hotel in Keetmanshoop is Keetmanshoop Self-Catering Accommodation.
First hotel in Houston is Marriott Marquis Houston.
First hotel in San Fernando del Valle de Catamarca is Amerian Catamarca Park Hotel.
First hotel in Atar is Odar kanawal.
First hotel in Comodoro Rivadavia is Lucania Palazzo Hotel.
First hotel in Moree is Albert Motel.
First hotel in Ormara is Alqadri hotel zero point ormara.
First hotel in Sechura is Hotel Amanecer - Sechura.
No hotel found.
First hotel in Kahului is Maui Beach Hotel.
First hotel in Makakilo City is Marriott's Ko Olina Beach Club.
First hotel in Nong Han is Sin Thana Resort.
First hotel in El Alto is Hotel "El Merlin" Cabo Blanco.
First hotel in Laguna is Hampton Inn & Suites Sacramento-Elk Grove Laguna I-5.
First hotel in Ixtapa is The Westin Resort & Spa, Puerto Vallarta.
First hotel in San Vicente is Hotel Y Restaurante Los Lapachos.
No hotel found.

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>

</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
figure.add_layer(markers)

# Display figure
figure

Figure(layout=FigureLayout(height='420px'))